<% for person in @persons do %>
  <h2> Person Firstname = <%= person.firstname %> </h2>
  <p><h3> Person Lastname = <%= person.lastname %></h3></p>
  <p><h3> Person Age = <%= person.age %></h3></p>
<% end %>
